body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  --pink: rgba(222, 92, 142, 0.9);
  --pink_transparent: rgba(222, 92, 142, 0.5)
}
.bodybg{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/cu_pic.jpg');
  background-size: cover;
}
a {
  color: #00B7FF;
}
.all{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.head{
  display:flex;
  justify-content: center;
  margin-top: 6%;
  margin-bottom: 10%;
}
.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60%;
  width:100%;
}
.redirect{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;
  height: 100%;
  width: 100%;
}
.homeb{
  width: 100%;
}
.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 2rem;
  margin: auto;
}
.btn-primary{
  background: var(--pink);
  border-color: var(--pink);
}
.btn-primary:hover{
  background: var(--pink);
}
.btn-primary:active{
  background: var(--pink) !important;
}
.btn-link, .btn-link:hover{
  display:flex;
  justify-content: center;
  color: var(--pink);
}
.error{
  color: red;
}
.form-control:focus,.btn-primary:focus{
  border-color:var(--pink) !important;
  box-shadow: 0 0 0 0.2rem var(--pink_transparent) !important;
}
.card{
  width: 50%;
  border:none;
  background-color: rgba(0, 0, 0, 0);
}